body{
    background-color: #4757eb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
table{
    background-color: #4dcf6e;
    margin:1rem;
}
.titulocontent{
    text-align: center;
}
.titulocontent h1{
    color: #FFFFFF;
    font-size: 3rem;
}
.titulocontent p{
    color: #FFFFFF;
    font-size: 1.5rem;
}

table { 
    margin: auto; 
    border: 2px solid #333;
    font-size:1.5rem;
}
th, td {
    border: 1px solid #323dd8;
    padding: 8px 12px;
    text-align: center;
}
thead{
    background-color: #2E4540;
    color:#B5B9F0
}
a{
    color:#B5B9F0
}